<div>
    <h1>User Details</h1>
    <input class="form-control" placeholder="Name" type="text" name="name" id="" [(ngModel)]="name"><br><br>
    <input class="form-control" placeholder="email" type="email" name="email" id="" [(ngModel)]="email"><br><br>
    <textarea class="form-control" placeholder="Address" name="address" id="" cols="30" rows="10" [(ngModel)]="address"></textarea><br><br>
    <button class="form-control" (click)="onSubmit()"> Save Data</button>
</div>
<div *ngIf="userDetails.length> 0 ;  else noData">
    <table class="table">
        <tr>
            <th>SL No.</th>
            <th>Name</th>
            <th>Email</th>
            <th>Address</th>
        </tr>
        <tr *ngFor="let user of userDetails, let i = index">
            <td>{{ i + 1 }}</td>
            <td>{{user.name}}</td>
            <td>{{user.email}}</td>
            <td>{{user.address}}</td>
            <td><button (click)="deletepost(i)">Delete</button></td>
             
            
        </tr>
        
    </table>

</div>
<ng-template #noData>
    <h4>Data Not Found</h4>
</ng-template>

