<!-- <div>
    <h1>Post Form</h1>
</div>
<br><br>
<input type="text" placeholder="Post Title" (input)="titleEvent($event)" /><br><br>
<textarea placeholder="Post Details" (input)="postDetailsEvent($event)"></textarea><br><br>
<input type="text" placeholder="image url" (input)="imageUrlEvent($event)" /><br><br>
<input type="text" placeholder="website url" (input)="viewMoreEvent($event)" /><br><br>
<input type="checkbox" value="checked"  (change)="checkedEvent($event)">
<label for=""> Add Background</label>

<h1><span [class.bg-color]="marked">{{ title }}</span></h1>
<p>{{ postdetails }}</p>
<img [src]="imageUrl" />
<div *ngIf="viewMore">
<p><a [href]="viewMore" target="_blank"> View More</a></p>
</div> -->
<div>
    <h1>Post Form</h1>
</div>
<br><br>
<input type="text" placeholder="Post Title" [(ngModel)]="title" /><br><br>
<textarea placeholder="Post Details" [(ngModel)]="postdetails"  ></textarea><br><br>
<input type="text" placeholder="image url" (input)="imageUrlEvent($event)" /><br><br>
<input type="text" placeholder="website url" (input)="viewMoreEvent($event)" /><br><br>
<input type="checkbox" value="checked"  (change)="checkedEvent($event)">
<label for=""> Add Background</label>

<h1><span [class.bg-color]="marked">{{ title }}</span></h1>
<p>{{ postdetails }}</p>
<img [src]="imageUrl" />
<div *ngIf="viewMore">
<p><a [href]="viewMore" target="_blank"> View More</a></p>
</div>