<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>

<body>

 

  <!-- <h4>Root Component</h4> -->
  <!-- <p>{{message}}</p>

<app-navbar></app-navbar>
<app-post [parentMessage]="parentMessage" (messageEvent) = 'reciveMessage($event)'></app-post>
<p>{{ childOutput }}</p> -->

  <!-- <h3 [class.text-red] = "bool">Class Buinding</h3>

<h3 [style.color]="bool? 'red' : 'green'">Style Buinding</h3> -->

  <!-- Two Way Buinding -->
  <!-- <input type="text" [(ngModel)] = "userName" (keyup.enter)="onKeyup()"> -->

  <!-- form example -->
  <!-- <app-post-form></app-post-form> -->

  <!-- *ngFor Directive example -->
  <!-- <ul><li *ngFor="let post of postArray "> {{ post }}</li></ul> -->
  <!-- <button (click)="addpost()">Add New Post</button>
  <div *ngIf="postobjArray.length > 0; then postList else noData"></div>
  
  <ng-template #postList>
    <ul>
      <li *ngFor="let post of postobjArray, let i = index">
        {{ post.postTitle }}
        <button (click)="deletepost(i)">Delete</button>
      </li>
    </ul>
  </ng-template>
  <ng-template #noData>
    <p>There is no data to fetch...</p>
  </ng-template> -->

  <!-- <app-ng-switch-case></app-ng-switch-case> -->

  <!-- <app-style-directive></app-style-directive> -->
  <!-- <app-class-directive></app-class-directive> -->

  <!-- <app-directive-task></app-directive-task> -->
  <!-- <app-ng-pipe></app-ng-pipe> -->

   <!-- Angular Dependency Injection -->
  <!-- <app-post></app-post>
  <app-post-list></app-post-list> -->

 <!-- Angural NgForm -->
  <!-- <app-ng-form></app-ng-form> -->

  <!-- Angular Reactive Form -->
  <!-- <app-reactive-form></app-reactive-form> -->
  <app-login-form></app-login-form>



     
  



</body>

</html>